.header{
    background-color: var(--angular-blue);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    display: flex;
}

.header img{
    width: 150px;
}

.title-group{
    margin-left: 25px;
}

.title-group a{
    color: #fff;
}