<h1>Component styles</h1>
<p>Angular applications are styled with standard CSS. That means you can apply everything you know about CSS stylesheets, selectors, rules, and media queries directly to Angular applications.</p>
<p>Additionally, Angular can bundle component styles with components, enabling a more modular design than regular stylesheets.</p>
<p>This page describes how to load and apply these component styles.</p>
<p>Run the live example / download example in Stackblitz and download the code from there.</p>

<h2>Using component styles</h2>
<p>For every Angular component you write, you can define not only an HTML template, but also the CSS styles that go with that template, specifying any selectors, rules, and media queries that you need.</p>

<p>One way to do this is to set the styles property in the component metadata. The styles property takes an array of strings that contain CSS code. Usually you give it one string, as in the following example:</p>
